.App {
  text-align: center;
  align-items: center;
}

.input{
  display: flex;
  justify-content: center;
}

.left_input{
  margin-right: 5%;
}

.right_input{
  margin-left: 5%;
}

.graph{
  margin-left: 20%;
  margin-right: 20%;
}

.buttons{
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  
}

.flip_button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  background-color: #3498db;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 2%;
  margin-left: 2%;

}

.flip_button:hover {
  /* background-color: #2980b9; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}